
<div id="content" class="col-lg-12 offset-0 text-center">
  <nav id="nav"  class="col-lg-12 fixed-top navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <ul>
      <li><a [routerLink]="['/']" title="">Home</a></li>
      <li><a [routerLink]="['/blacklist']" [routerLinkActive]="['activate']"  title="">Blacklist</a></li>
      <li><a [routerLink]="['/add-blacklist']" [routerLinkActive]="['activate']" title="">Create Blacklist</a></li>
      <li><a [routerLink]="['/abuses']" [routerLinkActive]="['activate']"  title="">Abuses</a></li>
      <li><a [routerLink]="['/add-abuses']" [routerLinkActive]="['activate']"  title="">Create Abuse</a></li>
    </ul>
  </nav>
  <br>
   <header id="header" class="col-lg-12">
    <h1>
       {{ title }}
    </h1>
  </header><!-- /header -->
  <section id="main" class="col-lg-12">
    <router-outlet></router-outlet>
  </section>

  <footer class="page-footer font-small indigo pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-5">

                <div class="mb-5 flex-center">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div  class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://github.com/JamesAndresCM/"> Me </a>
    </div>
</footer>
</div>

