<h3>List Abuse</h3>
<div *ngIf="!abuses">
	Loading Data..
</div>

<div *ngIf="abuses" >
<div class="table-responsive col-lg-8 offset-2">
 <table class="table">
 	<thead>
      <tr>
      	<th>Id</th>
        <th>Ip Address</th>
        <th>Options</th>
      </tr>
    </thead>
   <tbody>
  <tr *ngFor="let item of abuses">
    <td>
      {{item.id}}
    </td>
    <td>
      {{item.ip_address}}
    </td>
    <td>
     <a [routerLink]="['/abuse-edit/',item.id]" class="btn btn-sm btn-primary">Edit Abuse</a>
     <a [routerLink]="['/abuse/',item.id]" class="btn btn-sm btn-success">Show details</a>
     <a (click)="delConfirmAbuse(item.id)" style="color: white;" class="btn btn-sm btn-danger">Delete Abuse</a>
    <span *ngIf="confirm_del_abuse == item.id">
      <p>¿Delete?</p>
      <a style="color: white;" (click)="onDeleteAbuse(item.id)" class="btn btn-sm btn-danger">Yes</a>
      <a style="color: white;" (click)="cancelConfirmAbuse()" class="btn btn-sm btn-primary">Cancel</a>
    </span>
  </td>
  </tr>
</tbody>
</table>
	</div>
</div>